### Basic program related to python

In [ ]:
name=input("Enter your name: ")
age=int(input("Enter your age: "))
print("My name is", name, "and I am", age,"years old.")  # Concatenates with commas
print(f"My name is {name} and I am {age} years old.")      # using f-string for embedding variables directly

My name is Soumalya dere and I am 21 years old.
My name is Soumalya dere and I am 21 years old.

In [ ]:
x=10
y="10"
print(10 + "10")    # Error: python never mixes data types automatically
print(x + int(y))  # Converts y to integer and adds
print(str(x) +y)    # Converts x to string and concatenates

20
1010

In [3]:
'''
int * int → numeric multiplication
str * int → string repetition (e.g., '5' * 2 → '55')
str * str → error (unsupported)
int * str → error (unsupported)  

'''
a='5'
b=2
print(a * b)  # prints '55' because string '5' is repeated 2 times

a='5'
b='2'
print(a*b)  # Error: can't multiply two strings

a=5
b='2'
print(a*b)  # Error: can't multiply integer with string

55

TypeError: can't multiply sequence by non-int of type 'str'

In [ ]:
x=3
y='2'
print(str(x) * int(y))  # Converts x to string and y to integer, then repeats string '3' two times resulting in '33'

33

In [9]:
x=7
print(x%2)  # prints 1 because 7 divided by 2 leaves a remainder of 1

1

In [10]:
a="3"
b=3
print(a+str(b))

33

In [16]:
a=5
b=2
print(a/b)  # prints 2.5 (float division)
print(a//b) # prints 2 (integer division)

2.5
2

In [23]:
a='6'
b=2
print(a/b)  # Error: unsupported operand type(s) for /: 'str' and 'int'

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [29]:
a='5'
b=2
print(a-b)

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [34]:
a=5
b=2
print(a**b)

25